@font-face {
    font-family: 'feather';
    src: url('https://www.marvelrealtors.com/css/fonts/feather.eot');
    src: url('https://www.marvelrealtors.com/css/fonts/feather.eot') format('embedded-opentype'),
    url('https://www.marvelrealtors.com/css/fonts/feather.ttf') format('truetype'),
    url('https://www.marvelrealtors.com/css/fonts/feather.woff') format('woff'),
    url('https://www.marvelrealtors.com/css/fonts/feather.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}